<ion-view title="Bump Login">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Username" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
            </div>
            <div class="padding-left padding-right">
                <div class="button-bar">
                    <a class="button button-block button-positive" ng-click="login(username, password)">Login</a>
                    <!-- <a class="button button-block button-positive" ng-click="register(username, password)">Register</a> -->
                </div>
            </div>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>
</ion-view>